# Backend
APP_ENV=dev
DEBUG=True
CORS_ALLOW_ORIGIN=http://localhost:3000

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=instrument_registry
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}/0

# Flask Secret
SECRET_KEY=your-dev-secret-key

# Gunicorn Settings
GUNICORN_WORKERS=2
GUNICORN_THREADS=1
GUNICORN_TIMEOUT=30
